.header {
    padding: 1% 0 4%;
    font-size: 2rem;
}
.header__title {
    display: grid;
    grid-template-columns: 400px 300px;
    justify-content: space-between;
}
.logo {
    font-family: "Ranchers", cursive;
    font-size: 6rem;
    span {
        color: rgb(13, 123, 226);
    }
}