.player {
    text-align: center;
    display: grid;
    grid-template-columns: 30px auto 30px 100px;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    > * {
        cursor: pointer;
        &:hover {
            transition: 0.2s ease;
            color: rgb(104, 156, 252);
        }
    }
}
.timer {
    margin: 0;
    padding: 0;
    text-align: center;
}